@{
    ViewData["Title"] = "Голосовать";
}
@model Election
<div class="flex flex-col justify-center items-center min-h-full">
    <form method="post">
        <h1 class="text-4xl">@Model.Title</h1>
        @if (ViewBag.hasVoted)
        {
            <p class="mt-3">Вы уже голосовали, но можете переголосовать.</p>
        }
        <ul class="flex flex-col mt-6">
            @foreach (var candidate in ViewBag.Candidates)
            {
                <li class="inline-flex gap-x-2 items-center px-4 py-3 -mt-px text-sm font-medium bg-white border-2 first:rounded-t-lg first:mt-0 last:rounded-b-lg">
                    <div class="flex relative items-start w-full">
                        <label for="@candidate.Id" class="block w-full">
                            @candidate.DisplayName
                        </label>
                        <div class="flex items-center h-5 ms-3">
                            <input value="@candidate.Id" name="CandidateId" type="radio" class="rounded-full border-gray-200 disabled:opacity-50">
                        </div>
                    </div>
                </li>
            }
        </ul>
        <input class="inline-flex gap-x-2 items-center px-4 py-3 mt-6 text-sm font-semibold text-white bg-blue-600 rounded-lg border border-transparent hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none" type="submit" value="Проголосовать" />
    </form>
</div>